*
{
	margin: 0px;
	padding: 0px;
}
#MyCanvas
{
	background: lightgray;
	border: 1px solid black;
	cursor: default;
}
#MyCanvasShowArea
{
	border: 1px solid black;
	cursor: default;
	position: absolute;
	top: 0px;
	left: 0px;
}
.paintitems
{
	border: 1px solid lightblue;
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
}
#pen
{
	border: 1px solid red;
}
.paintitems > img
{
	width: 40px;
	height: 40px;
}
#UsersInfo
{
	position: absolute;
	top: 10px;
	left: 820px;
	width: 210px;
}
#UsersList
{
	border: 1px solid black;
	display: inline-block;
	width: 200px;
	margin-bottom: 20px;
	height: 400px;
	overflow: auto;
}